  <div class="col-sm-12 col-md-4 col-lg-4 column_content">
    <%= image_tag(product.image_url, class: "img-responsive") %>
    <a href="#"><h2><%= product.name %></h2></a>
    <content><%= product.description %></content>
    <strong><%= product.price %><strong>
    <%= link_to 'New Product', new_product_path %>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
</div>
<br>
