<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid container-products">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-12 col-md-4 col-lg-4 column_content">
        <%= image_tag("musicians_on_bus.png", class: "img-responsive product-img") %>
        <a href="#"><h2><%= product.name %></h2></a>
        <content><%= product.description %></content>
        <strong><%= product.price %><strong>
        <%= link_to 'New Product', new_product_path %>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  </div>
</div>
<br>

<% end %>
