<article class="container">
  <div class="show">
    <p id="notice"><%= notice %></p>
    <div class="row">
    <div class="col-sm-9 col-md-9">
    <p>
      <%= image_tag(@product.image_url, id: "zoom_product_showpage",
      class: "img-responsive product_show_page_image img-zoom",
      alt: @product.image_url) %>
    </p>
    </div>
      <div class="col-sm-3 col-md-3">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>Average Rating:
        <div id="average_rating_outside_div">
          <p><div class="rated" data-score="<%= @product.average_rating %>"></div></p>
        </div>
      </p>

      <p class="description">
       <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <%= render 'new_comment' %>

      <%= render 'comments' %>

      <%= will_paginate @comments %>

    </div>
  </div>

  <% if (signed_in? && current_user.admin?) %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  <% else %>
    <%= link_to 'Back', products_path %>
    <div style='padding-top:10px'></div>
    <!-- Stripe payments button -->
    <%= form_with(url: '/payments/create') do |form| %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
  <% end %>

</div>
</article>
