<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>


  <body data-spy="scroll" data-target=".navbar">
    <nav class="navbar navigation-wrapper navbar-inverse" role="navigation">
     <div class="container-fluid container-nav-bar">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         </button>
       </div>
       <div class="navbar-collapse collapse">
         <ul class="navbar-left">
          <!-- Search -->
          <li>
            <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
            <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control", placeholder: "What can I find for you?" %>
          </li>
          <li>
            <%= form.submit 'Search', class: 'btn btn-success'%>
            <% end %>
          </li>
        </ul>
         <ul>
           <li><%= link_to "Home", root_path, class:"nav-link" %></li>
           <li><%= link_to "Who", simple_pages_about_path, class:"nav-link" %></li>
           <li><%= link_to "What", simple_pages_what_path, class:"nav-link" %></li>
           <li><%= link_to "Coaching", simple_pages_coaching_path, class:"nav-link" %></li>
           <li><%= link_to "Contact", simple_pages_contact_path, class:"nav-link" %></li>
           <li><%= link_to "Login", simple_pages_login_path, class:"nav-link" %></li>
         </ul>
         <ul class="nav pull-right">
           <li>
           <% if user_signed_in? %>
             <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
           <% else %>
             <%= link_to('Login', new_user_session_path) %>
           <% end %>
           </li>
         </ul>
       </div>
     </div>
   </nav>

   <section class="container-fluid minipage">

     <!-- Flash Notice Tags -->
    <% if notice %>
      <p id="notice" class="alert alert-info">
      <%= notice %></p>
    <% end %>

    <% if alert %>
      <p id="alert" class="alert alert-info">
      <%= alert %></p>
    <% end %>

    <%= yield %>

  </section>

  <footer class = "container-fluid copy-right">
    &copy; Kate Huggins, Transience LLC 2018
  </footer>

  </body>
</html>
